<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="vendors/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="vendors/css/ionicons.css" />
    <link rel="stylesheet" href="resources/css/index.css" type="text/css" />

    <title>Login</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1 class="text-center">Log In</h1>
          <form id="login" method="POST" action="/login" class="input-group">
          <input type="text" name="username" placeholder="username" class="form-control">
          <input type="password" name="password" placeholder="password" class="form-control">
          <button class="btn btn-success form-control">Login</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>